

#borrowed-books .item, #shared-books .item {
	width: 265px;
	float: left;
	color: #333;
	font-size: 12px;
	line-height: 165%;
	height: 105px;
	overflow: hidden;
	margin: 7px 5px;
	white-space: nowrap;
}

#borrowed-books .item .cover, #shared-books .item .cover {
	display: block;
	float: left;
	width: 70px;
	height: 105px;
	overflow: hidden;
	margin: 0px 5px;
}

#borrowed-books .item .info, #shared-books .item .info {
	float: left;
	width: 185px;
}

#borrowed-books .item .info a, #shared-books .item .info a {
	font-size: 12px;
	color: #2464c4;
	text-decoration: none;
}

#borrowed-books .item .info a:hover, #shared-books .item .info a:hover {
	color: #fff;
	background: #2464c4;
}

#h-notifications {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #dedede;
	padding: 10px 20px;
}


#h-notifications .moudule-header {
	margin:0;
	margin-bottom: 10px;
	color: #888;
}

#h-notifications ul {
	list-style: none;
	width: 500px;
	margin: 0 auto;
	padding: 0;
}

#h-notifications ul li {
	padding: 7px 20px;
	border-top: 1px solid #dfdfdf;
	font-size: 14px;
}

#h-notifications .operations {
	border-top: 1px solid #dfdfdf;
	padding-top: 7px;
}

#h-notifications .operations .ignore {
	display: block;
	float: left;
	color: #ccc;
	text-decoration: none;
}

#h-notifications .operations .ignore:hover, #h-notifications .operations .view-all:hover {
	text-decoration: underline;
}

#h-notifications .operations .view-all {
	display: block;
	float: right;
	text-decoration: none;
}

#borrowRequest-list, #borrow-list {
	margin-top: 15px;
}

#borrowRequest-list .savatar, #borrow-list .savatar {
	float: left;
}

#borrowRequest-list .scover, #borrow-list .scover  {
	float: right;
}

#borrowRequest-list .item, #borrow-list .item {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

#borrowRequest-list .info, #borrow-list .info {
	width: 460px;
	float: left;
}

#borrowRequest-list .date, #borrow-list .date {
	font-size: 12px;
	color: #777;
}

#borrowRequest-list .operations, #borrow-list .operations {
	margin: 10px 0;
}

#borrowRequest-list .operations a, #borrow-list .operations a {
	font-size: 13px;
	margin: 0 10px;
	padding: 0 10px;
	border-radius: 4px;
}

#borrow-list .operations span.returned {
	font-size: 13px;
	color: #888;
	padding: 0 10px;
}

#borrow-list .operations a.view-contact {
	font-size: 13px;
}

#borrow-list .operations a.view-contact:hover {
	background: #2464C4;
	color: #ffffff;
}

#borrowRequest-list .operations a:hover, #borrow-list .operations a:hover {
	text-decoration: none;
}

#borrowRequest-list .operations a.agree, #borrow-list .operations a.return {
	background: #CEF6CE;
	border: 1px solid #5FB404;
	color: #04B404;
}

#borrowRequest-list .operations a.disagree {
	background: #F8E0E0;
	border: 1px solid #FA5858;
	color: #FA5858;
}

#borrowRequest-list .operations a.cancel {
	background: #EEE;
	border: 1px solid #AAA;
	color: #666;
}

#sharing-list {
	margin-top: 20px;
}

#sharing-list .item{
	padding: 15px;
	position: relative;
	border-bottom: 1px solid #ddd;
}

#sharing-list .scover {
	float: left;
}

#sharing-list .info {
	color: #777;
	width: 420px;
	float: left;
	margin-left: 10px;
}

#sharing-list .item a.cancel, #sharing-list span.notAvailable{
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #AAA;
	font-size: 12px;
}
#sharing-list .item a.cancel:hover {
	color: #999;
	text-decoration: none;
}

#sharing-list span.notAvailable {
	color: #21610B;
}

#sharing-list .totals {
	font-size: 13px;
	color: #888;
	margin-left: 20px;
}

#notification-list .meta {
	color: #888;
	font-size: 13px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#notification-list #ignoreAll, #notification-list .ignore {
	position: absolute;
	font-size: 12px;
	right: 10px;
	color: #ccc;
}

#notification-list .ignore {
	position: static;
	float: right;
	margin-right: 10px;
}

#notification-list #ignoreAll:hover, #notification-list .ignore:hover {
	color: #AAA;
	text-decoration: none;
}

#notification-list ul {
	padding-left: 20px;
	list-style: none;
}

#notification-list ul li {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	position: relative;
}

#message-list table {
	width: 500px;
	margin: 0 auto;
	border-collapse:collapse;
}

#message-list table td, #message-list table th {
	text-align: left;
	font-weight: 100;
	color: #555;
}

#message-list table th, #message-list table td {
	padding: 10px 5px;
	fotn-size: 13px;
}

#message-list table td .unread {
	font-weight: bold;
}

#message-list table th {
	border-bottom: 1px solid #aaa;

}

#message-list table td {
	border-bottom: 1px dashed #ccc;
	color: #888;
}


#message-create-form {
	color: #666;
}


#message-create-form #title {
	width: 500px;
	font-size: 15px;
	padding: 3px 5px;
}

#message-create-form #content {
	width: 550px;
	height: 200px;
	padding: 5px;
}

#message-create-form .sdbtn {
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	width: 60px;
	background: url(../images/btns-wbg.png) -318px -96px;
	color: #fff;
	-moz-text-shadow: 0.1em 0.1em #419204;
	-webkit-text-shadow: 0.1em 0.1em #419204;
	text-shadow: 0.1em 0.1em #419204;
	font-size: 16px;
	text-decoration: none;
}

#message-create-form .sdbtn.hover {
	background: url(../images/btns-wbg.png) -318px -152px;
}


#message-create-form .input {
	font-size: 16px;
}

#message-create-form .sdbtn .sdbtn-inner {
	display: block;
	width: 5px;
	height: 28px;
	background: url(../images/btns-wbg.png) 0px -124px;
}

#message-create-form .sdbtn.hover .sdbtn-inner {
	background: url(../images/btns-wbg.png) 0px -180px;
}

#right-column #user-info .savatar {
	float: left;
}

#right-column #user-info .info {
	float: left;
}

#message .meta {
	margin: 10px 0;
	font-size: 14px;
	color: #666;
}

#message .meta span {
	margin-right: 10px;
}

#message .moudule-content {
	margin-top: 20px;
}

