
#share {
	padding: 0 30px;
	color: #333;
}

#share .input {
	font-size: 18px;
	height: 25px;
	line-height: 25px;
	width: 260px;
	color: #333;
}

#whatIsISBN {
	font-size: 12px;
}

#whatIsISBN:hover {
	color: #fff;
	background: #2464c4;
	text-decoration: none;
}

#share .sdbtn {
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	width: 60px;
	background: url(../images/btns-wbg.png) -318px -96px;
	color: #fff;
	-moz-text-shadow: 0.1em 0.1em #419204;
	-webkit-text-shadow: 0.1em 0.1em #419204;
	text-shadow: 0.1em 0.1em #419204;
	font-size: 16px;
	text-decoration: none;
}


#share .sdbtn-inner {
	display: block;
	width: 5px;
	height: 28px;
	background: url(../images/btns-wbg.png) 0px -124px;
}

#share .sdbtn.hover {
	background: url(../images/btns-wbg.png) -318px -152px;
}

#share .sdbtn.hover .sdbtn-inner {
	background: url(../images/btns-wbg.png) 0px -180px;
}


#bookbase .item {
	display: block;
	float: left;
	width: 105px;
	height: 140px;
	line-height: 140px;
	margin: 15px 40px;
	overflow: hidden;
}

#bookbase .more {
	display: block;
	background: #efefef;
	padding: 5px;
	font-size: 14px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	color: #666;
	text-decoration: none;
}

#bookbase .more:hover {
	background: #ddd;
}

#bookbase .more.noMore {
	cursor: text;
	color: #999;
}

#bookbase .more.noMore:hover  {
	background: #efefef;
}

#search-results .item  {
	padding: 25px 0;
	border-bottom: 1px solid #DEDEDE;
}

#search-results .item .cover {
	width: 70px;
	height: 100px;
	display: block;
	float: left;
	overflow: hidden;
}

#search-results .item .info {
	float: left;
	line-height: 160%;
	color: #666;
	width: 500px;
	margin: 0 12px;
}

#search-results .item .info .title {
	font-size: 15px;
}

#register-form label {
	display: inline-block;
	width: 100px;
	text-align: right;
	color: #666;
}

#register-form .input {
	font-size: 16px;
	color: #333;
}

#register-form .button {
	font-size: 16px;
	padding: 3px 10px;
}

