@CHARSET "UTF-8";

/*全局设置网页字体*/
body {
	font-family: 宋体, serif;
	background: #ffffff;
	font-size: 12px;
}

/*将浏览器的默认间隙去掉*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote {
	padding: 0;
	margin: 0;
}