
#book-info {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 35px;
	position: relative;
}

#book-meta {
	color: #333;
	font-size: 12px;
	line-height: 175%;
	float: left;
	width: 350px;
	overflow: hidden;
}

#book-meta  p {
	margin: 0;
}

#book-meta #cover {
	display: block;
	float: left;
	margin-right: 15px;
}

#book-meta .label {
	color: #777;
}

#book-data {
	position: absolute;
	line-height: 140%;
	right: 10px;
	width: 200px;
	height: 40px;
	margin: 0;
}

#book-data .data-item {
	float: right;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	color: #666;
	margin: 0 5px;
}

#book-data .separator {
	display: block;
	height: 26px;
	float: right;
	border-right: 1px solid #ddd;
	position: relative;
	top: 9px;
}

#operation {
	position: absolute;
	width: 200px;
	text-align: center;
	right: 10px;
	top: 70px;
	font-size: 14px;
	color: #444;
}

#operation a.operation-item {
	font-size: 16px;
	color: #2464c4;
	text-decoration: none;
	margin: 0 5px;
	padding: 0 5px;
}

#operation a.operation-item:hover {
	background: #2464c4;
	color: #ffffff;
}

#unshare {
	position: absolute;
	right: 5px;
	bottom: 0px;
	font-size: 12px;
	color: #CCC;
	text-decoration: none;
}

#unshare:hover {
	color: #999;
}

#intro .moudule-content p, #author-intro .moudule-content p {
	font-size: 12px;
	color: #333;
	text-indent: 2em;
	line-height: 165%;
}

.review-list-item {
	margin: 20px 0;
}

.review-list-item .avatar {
	display: block;
	float: left;
	width: 48px;
	height: 48px;
}

.review-list-item  .text {
	float: left;
	width: 540px;
	margin-left: 5px;
	color: #333;
}

.review-list-item  .text .meta {
	padding: 5px 10px;
	background: #F1F8FB;
	font-size: 12px;
}

.review-list-item  .text .meta a {
	text-decoration: none;
	color: #2464c4;
}

.review-list-item  .text .meta a:hover {
	text-decoration: underline;
}

.review-list-item  .text .meta h4 {
	margin: 0;
	font-weight: 100;
	font-size: 15px;
}

.review-list-item  .text .content {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 150%;
}

.review-list-item  .text .content p {
	text-indent: 2em;
}

#right-column #borrowed-users .item, #right-column #shared-users .item {
	width: 50px;
	float: left;
	font-size: 12px;
	text-align: center;
	margin: 5px 10px;
}

#right-column #borrowed-users .item .avatar, #right-column #shared-users .item .avatar {
	display: block;
	height: 48px;
	width: 48px;
	margin-bottom: 5px;
}

#right-column #borrowed-users .item a, #right-column #shared-users .item a {
	color: #2464c4;
	text-decoration: none;
}
#right-column #borrowed-users .item a:hover, #right-column #shared-users .item a:hover {
	background: #2464c4;
	color: #ffffff;
}



#left-column #provider-list {
	
}

#provider-list .item  {
	float: left;
	width: 100%;
	margin: 10px 5px;
	border-bottom: 1px solid #eee;
	padding: 15px 0;
}

#provider-list .item .avatar {
	width: 48px;
	height: 48px;
	float: left;
}

#provider-list .item  .item-info {
	float: left;
	font-size: 14px;
	margin-left: 10px;
}

#provider-list .item  .item-info  p {
	margin: 0;
	color: #333;
	margin-bottom: 10px;
}

#provider-list .item  .item-info a {
	color: #2464c4;
	text-decoration: none;
}

#provider-list .item  .item-info a:hover {
	color: #ffffff;
	background: #2464c4;
}

#provider-list .item .item-info .borrow-btn{
	display: block;
	height: 24px;
	line-height: 24px;
	width: 80px;
	background: url(../images/btns-wbg.png) -298px 0px no-repeat;
	color: #fff;
	-moz-text-shadow: 0.1em 0.1em #419204;
	-webkit-text-shadow: 0.1em 0.1em #419204;
	text-shadow: 0.1em 0.1em #419204;
}

#provider-list .item .item-info .borrow-btn .sdbtn-inner {
	display: block;
	width: 5px;
	height: 24px;
	background: url(../images/btns-wbg.png) 0 -24px;
}

#provider-list .item .item-info .borrow-btn.hover {
	background: url(../images/btns-wbg.png) -298px -48px no-repeat;
	color: #ffffff;
}

#provider-list .item .item-info .borrow-btn.hover .sdbtn-inner {
	background: url(../images/btns-wbg.png) 0 -72px;
}



#book-share-form #maxBorrowDay {
	width: 50px;
}

#review-form #title {
	width: 480px;
}

#book-share-form #requirements {
	width: 449px;
	height: 134px;
}

#review-form #content {
	width: 530px;
	height: 300px;
}

#book-share-form {
	color: #666;
}

#book-share-form .sdbtn, #review-form .sdbtn, .requirements-popup .agree, .requirements-popup .cancel {
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	width: 60px;
	background: url(../images/btns-wbg.png) -318px -96px;
	color: #fff;
	-moz-text-shadow: 0.1em 0.1em #419204;
	-webkit-text-shadow: 0.1em 0.1em #419204;
	text-shadow: 0.1em 0.1em #419204;
	font-size: 16px;
	text-decoration: none;
}

#book-share-form .sdbtn.hover, #review-form .sdbtn.hover {
	background: url(../images/btns-wbg.png) -318px -152px;
}


#book-share-form .input, #review-form .input {
	font-size: 16px;
}

#book-share-form .sdbtn .sdbtn-inner, #review-form .sdbtn .sdbtn-inner, .requirements-popup .agree .sdbtn-inner, .requirements-popup .cancel .sdbtn-inner {
	display: block;
	width: 5px;
	height: 28px;
	background: url(../images/btns-wbg.png) 0px -124px;
}

#book-share-form .sdbtn.hover .sdbtn-inner, #review-form .sdbtn.hover .sdbtn-inner {
	background: url(../images/btns-wbg.png) 0px -180px;
}

#right-column #book-info p{
	font-size: 13px;
	line-height: 165%;
}

#right-column #book-info p .label {
	color: #888;
}

#none {
	text-align: center;
}

.requirements-popup h3 {
	margin: 0;
	font-size: 14px;
}

.requirements-popup .requirements {
	font-size: 14px;
	margin: 10px 0;
}

.requirements-popup .operations {
	width: 160px;
	margin: 0 auto;
}

.requirements-popup .sdbtn {
	margin: 10px;
}

.requirements-popup .agree {
	width: 60px;
}

.requirements-popup .cancel {
	background: url(../images/btns-wbg.png) -318px -208px;
	color: #888;
	-moz-text-shadow: 0.1em 0.1em #eee;
	-webkit-text-shadow: 0.1em 0.1em #eee;
	text-shadow: 0.1em 0.1em #eee;
}

.requirements-popup .cancel .sdbtn-inner {
	background: url(../images/btns-wbg.png) 0px -236px;
}

#provider-list .requirements {
	display: none;
}

#other-opt {
	text-align: right;
	padding: 0 20px;
}

#other-opt a, #reviews-meta a {
	background: #DAE6F8;
	padding: 2px 8px;
	border: 1px solid #98b9ec;
	-moz-boder-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#other-opt a:hover, #reviews-meta a:hover {
	text-decoration: none;
	background: #b9d0f2;
}

#review-content {
	font-size: 13px;
	line-height: 163%;
}

#author-info .savatar {
	float: left;
}

#author-info .describe {
	color: #777;
}

#review-meta {
	color: #777;
	font-size: 14px;
	margin-top: 5px;
	text-align: right;
}

#reviews-meta {
	color: #777;
	font-size: 14px;
	margin-top: 5px;
}

#reviews-meta a {
	display: block;
	float: right;
	margin-right: 10px;
}

