
body{
	font-size:12px;
	line-height:20px;
}



#content-wrapper #emotionBox{
	width:100%;
	height:auto;
	border:1px #CEE1EE solid;
	background:#F0F5F8;
	padding:5px;
	color:#005EAC;
	position:relative;
	
}

#content-wrapper #emotionBox #face{
	cursor:pointer;
	}
	
#content-wrapper #emotionBox .faceSingle{
	margin:1px;
	border:1px #B8D4E8 solid;
}

#content-wrapper #emotionBox #facesPanel{
width:auto;
height:auto;
background:white;
border:1px #8496BA solid;
position:absolute;
bottom:-220px;
padding:1px;
visibility:hidden;
left:4px;
	}
	
#content-wrapper #emotionBox #facesPanel img{
cursor:pointer;
	}

#content-wrapper #emotionBox textarea{
	height:40px;
	border:1px #83ACC6 solid;
	color:gray;
}

#feed-list h3{
	font-size:14px;
	font-weight:normal;
	margin:6px;
}

#feed-list h4{
	font-size:14px;
	font-weight:normal;
	margin:6px;
}

#feed-list{
	border:1xp red solid;
	width:100%;
	height:auto;
}

#feed-list .user-head{
	margin:0px;
	display:block;
}

#feed-list .feed .user-head img{
	width:50px;
	height:50px;
	float:left;
	margin:5px 10px 0px 0px;
}

#feed-list .feed{
	height:auto;
	padding-bottom:5px;
	margin-top:5px;
	clear:both;
}

#feed-list .feed .follow{
	float:left;
	clear:left;
}

#feed-list .feed .follow-m{
	float:left;
	clear:left;
}
#feed-list .feed .feed-source{
	display:table;
	}

#feed-list .feed .source-box{
	background:#F7F7F7;
	width:470px;
	padding:10px;
	float:right;
}

#feed-list .feed .book-img{
	padding:2px;
	background:white;
	border:1px #BBC9E2 solid;
	float:left;
	margin:0px 10px 0px 0px;
}


#feed-list .feed .feed-detail{
	color:gray;
	padding-top:3px;
	*margin-left:60px;
	clear:both;
	
}

#feed-list .feed .line{
	width:100%;
	height:1px;
	border-bottom:1px #E3EEF8 solid;
	clear:both;
	}

#feed-list .feed .feed-detail-r{
	color:gray;
	clear:top;
	padding-top:3px;
	margin-left:60px;
}

#feed-more{
	width:100%;
	height:40px;
	background:#F0F5F8;
	text-align:center;
	line-height:40px;
	font-size:15px;
	border:1px #CEE1EE solid;
	cursor:pointer;
	margin-top:10px;
	
}

#feed-list .feed h4{
	margin:2px;
	font-weight:normal;
	color:#005EAC
	
}

	
	