
#info dl {
	font-size: 15px;
}

#info dl dt {
	width: 100px;
	text-align: right;
	float: left;
	color: #666;
	height: 1.5em;
}

#info dl dd {
	margin: 15px 0;
}

#info #name {
	width: 130px;
}

#info #description {
	width: 350px;
	height: 100px;
	font-size: 14px;
}

#info dl input {
	font-size: 15px;
}

.sdbtn.submit {
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	width: 60px;
	background: url(../images/btns-wbg.png) -318px -96px;
	color: #fff;
	-moz-text-shadow: 0.1em 0.1em #419204;
	-webkit-text-shadow: 0.1em 0.1em #419204;
	text-shadow: 0.1em 0.1em #419204;
	font-size: 16px;
	text-decoration: none;
}

.sdbtn.submit .sdbtn-inner {
	display: block;
	width: 5px;
	height: 28px;
	background: url(../images/btns-wbg.png) 0px -124px;
}

.sdbtn.submit.hover {
	background: url(../images/btns-wbg.png) -318px -152px;
}

.sdbtn.submit.hover .sdbtn-inner {
	background: url(../images/btns-wbg.png) 0px -180px;
}

#large-avatar-panel {
	float: left;
	position: relative;
	margin: 0 20px;
	cursor: pointer;
}

#click-edit {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background: #333;
	border-top: 1px solid #666;
	line-height: 135%;
	color: #fff;
	font-size: 13px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80); 
	opacity: 0.8;	
}


#edit-avatar-panel {
	float: left;
}

#edit-avatar, #upload-avatar {
	float: left;
	width: 298px;
	padding: 0 15px;
}



#preview {
	float: left;
	position: relative;
	width: 48px;
	height: 48px;
	overflow: hidden;
}

#preview img{
	position: relative;
}

#edit-submit {
	width: 100px;
	background: url(../images/btns-wbg.png) -278px -96px;
}

#edit-submit.hover {
	background: url(../images/btns-wbg.png) -278px -152px;
}

#edit-form {
	margin-top: 20px;
}

#avatar-main {
	width: 660px;
	margin: 0 auto;
}





