#borrowed-books .book-item, #shared-books .book-item {
	float: left;
	width: 110px;
	height: 175px;
	text-align: center;
	font-size: 14px;
	margin: 10px;
	line-height: 163%;
	white-space: nowrap;
	overflow: hidden;
}

#borrowed-books .book-item a, #shared-books .book-item a {
	color: #2464c4;
	text-decoration: none;
	font-size: 13px;
}

#borrowed-books .book-item .cover, #shared-books .book-item .cover {
	display: block;
	margin-bottom: 5px;
}

#borrowed-books .book-item .cover:hover, #shared-books .book-item .cover:hover {
	background: none;
}

#borrowed-books .book-item a:hover, #shared-books .book-item a:hover {
	background: #2464c4;
	color: #ffffff;
}

#user-info {
	color: #333;
	font-size: 14px;
	border: 1px solid #e4f2f8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #f1f8fb;
	padding: 10px 0px 20px 15px;
	width: auto;
	}

#user-info #user-meta {
	margin-bottom: 10px;
	line-height: 165%;
}

#user-info #user-meta #send-msg {
	font-size: 13px;
	display: block;
	float: left;
	padding: 0px 10px;
	border: 1px solid #5cb745;
	background: #d5fccc;
	color: #007f00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


#user-info #user-meta #send-msg:hover {
	text-decoration: none;
	background: #eaf9e5;
}

#user-info #user-meta img {
	display: block;
	float: left;
	margin-right: 15px;
}

#user-info #user-meta a {
	color: #2464c4;
	text-decoration: none;
	font-size: 15px;
}

#user-info #user-meta a:hover {
	text-decoration: underline;
}

#user-info h3 {
	font-size: 15px;
	margin-bottom: 5px;
}

#left-column .tab-content#books-list {
	padding: 15px 15px;
}

#left-column .tab-content#books-list .item .cover {
	display: block;
	width: 70px;
	float: left;
	text-align: center;
	margin-right: 12px;
}

#left-column .tab-content#books-list .item {
	padding: 10px 0;
	border-bottom: 1px dashed #ddd;
}

#left-column .tab-content#books-list .item .info {
	float: left;
	font-size: 13px;
}

#left-column .tab-content#books-list .item .info h4 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 100;
}

#left-column .tab-content#books-list .item .info h4 a {
	color: #2464c4;
	text-decoration: none;
}

#left-column .tab-content#books-list .item .info h4 a:hover {
	text-decoration: underline;
}

.review-item  {
	margin-bottom: 20px;
}

.review-item .left {
	width: 500px;
	float: left;
}

.review-item .scover {
	float: left;
}

.review-item .content {
	color: #444;
	font-size: 12px;
	line-height: 150%;
	padding: 0 5px;
}

.review-item h4 {
	font-weight: 100;
	background: #F1F8FB;
	padding: 5px;
	margin-top: 0;
	margin-bottom: 5px;
}





/*
 By Michael
 信誉度以及积分的样式
*/

#user-info #user-meta .cLevel{
 	margin:0px;
 	cursor:pointer;
 	display:block;
 	margin-top:6px;
}
