<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
 <tlib-version>1.0</tlib-version>
 <short-name>jshy</short-name>
 <uri>/jshy-tags</uri>
 <tag>
  <name>isLogin</name>
  <tag-class>com.jieshuhuiyou.tag.IsLoginTag</tag-class>
  <body-content>scriptless</body-content>
 </tag>
 <tag>
  <name>hasPermission</name>
  <tag-class>com.jieshuhuiyou.tag.HasPermissionTag</tag-class>
  <body-content>scriptless</body-content>
  <attribute>
   <name>user</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>subject</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>allowRoles</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>disallowRoles</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
 </tag>
 <tag>
  <name>permissionOtherwise</name>
  <tag-class>com.jieshuhuiyou.tag.PermissionOtherwiseTag</tag-class>
  <body-content>JSP</body-content>
 </tag>
 <tag>
  <name>prefixAndSuffixProperty</name>
  <tag-class>com.jieshuhuiyou.tag.PrefixAndSuffixTag</tag-class>
  <body-content>empty</body-content>
  <attribute>
   <name>value</name>
   <required>true</required>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>escape</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>escapeJavaScript</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>prefix</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>suffix</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>regExp</name>
   <required>true</required>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
 </tag>
 <tag>
  <name>isNotLogin</name>
  <tag-class>com.jieshuhuiyou.tag.IsNotLoginTag</tag-class>
  <body-content>JSP</body-content>
 </tag>
 <tag>
  <name>paginator</name>
  <tag-class>com.jieshuhuiyou.tag.ui.PaginatorTag</tag-class>
  <body-content>empty</body-content>
  <attribute>
   <name>paramName</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>value</name>
   <required>true</required>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
  <attribute>
   <name>linksCount</name>
   <rtexprvalue>false</rtexprvalue>
   <type>java.lang.Integer</type>
  </attribute>
  <attribute>
   <description>base url</description>
   <name>base</name>
   <rtexprvalue>false</rtexprvalue>
  </attribute>
 </tag>
</taglib>
